<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::header"></head>
<body>

<div class="container">
    <div class="text-center">
        <h1><em>Customers</em></h1>
        <a href="/customers">
            <span class="glyphicon glyphicon-user"/>
        </a>
    </div>
    <div class="text-center">
        <h1><em>Stocks</em></h1>
        <a href="/stocks">
            <span class="glyphicon glyphicon-usd"/>
        </a>
    </div>
</div>

</body>
</html>
